<%- include('./partials/header') %>
<div class="collection-container">
    <div class="collection-title">Welcome to HomeDekor</div>
    <h5>
        Welcome to our innovative and inspirational platform - HomeDekor, where creativity meets comfort, and every home becomes a canvas for personal expression. 
        Our website is your virtual sanctuary, designed to ignite your passion for interior design and make your home the haven of your dreams.
        <br><br>
        Join us and unlock the door to a world of creativity, where every click, comment, and post enriches your understanding of home decoration. 
        Let's embark on a journey to elevate your living space to a new level of beauty and functionality, and together, we'll make your house a home you're truly proud of.
    </h5>
    <div class="image-homepage">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.pinimg.com/564x/82/c0/21/82c021cd52ad6243773ff89a006fe881.jpg" class="d-block w-100" alt="image1" style="width: 500px; height: 700px; border-radius: 30px;">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/564x/0f/3a/39/0f3a39612ccd04141b5231242a535665.jpg" class="d-block w-100" alt="image2" style="width: 500px; height: 700px; border-radius: 30px;">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/564x/00/26/2a/00262adbb40aa52dc47d66219473bc21.jpg" class="d-block w-100" alt="image3" style="width: 500px; height: 700px; border-radius: 30px;">
            </div>
            <div class="carousel-item">
                <img src="https://i.pinimg.com/564x/8c/fa/10/8cfa103943d3aa91ca606fb92c4bf59f.jpg" class="d-block w-100" alt="image4" style="width: 500px; height: 700px; border-radius: 30px;">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>
