<%- include('../partials/header') %>

<form id="new-form" action="/ideas" enctype="multipart/form-data" method="post">
    <input type="file" name="image">
    <label>Title:</label>
    <input type="text" name="title">
    <br><br>
    <label>Content:</label>
    <textarea type="text" name="content"></textarea>
    <br><br>
    <input type="submit" value="Add Idea">
</form>

<%- include('../partials/footer') %>