<%- include('../partials/header') %>
<div class="collection-title">Add Your Idea</div>
<div class="add-idea-form">
    <form id="new-form" action="/ideas" enctype="multipart/form-data" method="post">
        <div class="input-group mb-3">
            <input type="file" name="image" class="form-control" id="inputGroupFile02">
        </div>
        <br><br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Title:</span>
            <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <br><br>
        <div class="input-group">
            <span class="input-group-text">Content:</span>
            <textarea type="text" name="content" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <br><br>
        <input type="submit" value="Submit" class="btn btn-outline-secondary"></input>
    </form>
</div>
<%- include('../partials/footer') %>