<%- include('../partials/header') %>

<form id="new-form" action="/ideas" method="post">
    <label>Title:</label>
    <input type="text" name="title">
    <br><br>
    <label>Content:</label>
    <textarea name="content"></textarea>
    <br><br>
    <input type="submit" value="Add Idea">
</form>

<%- include('../partials/footer') %>