* {
  box-sizing: border-box;
  margin:  0;
  padding:  0;
}

body {
  height: 100vh;
  width: 100%;
  overflow: auto;
  position: relative;
  font: 12px "Montserrat", Helvetica, Arial, sans-serif;
  margin: 0;
}
#one.container-fluid {
  justify-content: normal;
  width: 70%;
}

.navbar {
  background-color: black !important;
  color: white !important;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.navbar-brand:hover, .nav-link:hover {
  color: pink;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
}
.image-homepage {
  padding: 50px 150px 100px;
}
.collection-container {
  padding-left: 50px;
  padding-right: 50px;
}

.collection-title  {
padding: 50px 100px 50px;
font-size: 40px;
text-align: center;
font-weight: bold;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-style: bold;
}

a.row-2 {
  color:#000000;
}

.row-1 {
  padding-top: 15px;
  padding-bottom: 15px;
}

img.row-1 {
  border-radius: 30px;
}

.row-2 {
  height: 40px;
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
}

.add-idea-form {
  display: flex;
  padding: 0px 100px;
  font-size: 12px;
}

#new-form {
  width: 100%;
}

.btn-outline-secondary {
  color: black;
  background-color: rgb(248, 249, 250);
}

.row-3-style {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

form.row-3-style {
  padding-top: 0px;
  padding-bottom: 40px;
  float: left;
}

form.row-3-style-comment {
  padding-top: 10px;
  padding-bottom: 15px;
  float: left;
}

.row-button {
  display: flex;
  gap: 20px;
}
.idea-container {
  padding: 20px 50px;
  text-align: justify;
  line-height: 1.7em;
}
.edit-page-container {
  padding: 20px 100px;
  text-align: justify;
}

#idea-content {
  font-size: 16px;
  padding-bottom: 20px;
}

#idea-content.row-1, .user-comment {
  text-align: justify;
  font-weight: bold;
  color:#000000;
}

form {
  text-align: center;
}

h4 {
  font-weight: bold;
  text-align: left;
}

h5 {
  font-weight: bold;
  text-align: justify;
  line-height: 1.7em;
}

.comment {
  display:  flex;
  flex-direction: column;
}
.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float:left;
}

.user-comment {
  padding-top: 15px;
  font-size: 14px;
  color:#000000;
}
.input-group-text {
  font-weight: bolder;
}

p {
  font-size: 25px;
  line-height: 2em;
}

.edit-page {
  display: flex;
}